/* Dark on light */
:root{
  --blue: #3d3e49;
  --beige: #caa571;
  --bg: #E6DACA;
}


*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'New Tegomin', serif;
  color: var(--heading-color);
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: var(--bg);
  color: var(--blue);
}

main{
  margin-top: 25px;
}


.title-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--beige);
  padding: 1rem;
}




/* Galerie avec GRID */
.grid-container{
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 10px;
}

.grid-item{
  overflow: hidden;
}


.grid-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.col-span-3{
  grid-column-start: span 3;
}

.row-span-2{
  grid-row-start: span 2;
}



/* Galerie avec GRID AREA */
.grid-container-area {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 0px 0px;
  grid-template-areas:
    "bbb bbb aaa aaa aaa aaa"
    "e f g h i j"
    "dddd dddd dddd dddd ccc ccc";
  margin: 0 auto;
}

.d { grid-area: dddd; }

.a { grid-area: aaa; }

.b { grid-area: bbb; }

.c { grid-area: ccc; }

.e { grid-area: e; }

.f { grid-area: f; }

.g { grid-area: g; }

.h { grid-area: h; }

.i { grid-area: i; }

.j { grid-area: j; }

.grid-area-item{
  overflow: hidden;
}

.grid-area-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Gallerie avec FLEXBOX */
.galerie-flex{
  padding: 25px;
  background: var(--blue);
}

.flex-container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  width: 80%;
}

.flex-item{
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}

.flex-item p{
  position: absolute;
  top: 0%;
  right: 0%;
  /* transform: translate(-50%, -50%); /* use with top:50%; right: 50% */
  background: var(--beige);
}

.flex-item:hover p{
  display: none;
}

.flex-item img{
  width: 100%;
  height: auto;
}

.translate img:hover{
  -webkit-transform: translate(20px, 10px);
	transform: translate(20px, 10px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.zoom img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.rotate img:hover{
  -webkit-transform: rotate(10deg);
	transform: rotate(10deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.skewY img:hover{
  -webkit-transform: skewY(5deg);
	transform: skewY(5deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.skewX img:hover{
  -webkit-transform: skewX(15deg);
	transform: skewX(15deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ;
}

.skew img:hover{
  -webkit-transform: skew(45deg, 60deg);
	transform: skew(45deg, 60deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.perspective img:hover{
  -webkit-transform: perspective(75px) rotateX(45deg);
	transform: perspective(75px) rotateX(45deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.zoom-ease-in img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: 5s ease-in;
  transition: .3s ease-in;
}

.zoom-ease-out img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: 5s ease-out;
  transition: .3s ease-out;
}

.zoom-step-start img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: 2s step-start;
  transition: .3s step-start;
}

.zoom-step-end img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-transition: 2s step-end;
  transition: .3s step-end;
}
